.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#notice-text {
  width: max-content;
}

.marquee {
  animation: marquee 10s linear infinite;
  animation-delay: 2.5s;
}

.comments {
  top: 0;
}

.comment {
  animation: comment 13s normal forwards;
  position: absolute;
  height: 24px;
}

@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}

@keyframes comment {
  from {
      margin-left: 100%;
      width: 300%; 
  }

  to {
      margin-left: -100%;
      width: 100%;
      opacity: 0;
  }

  99% {
      opacity: 1;
  }

}

.btn-primary {
  background-color: #0577fb;
}
